[user]
    name = maedana
    email = maeda.na@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    st = status
    ci = commit -a
    di = diff
[github]
	user = maedana
	token = ed57720024f2df3b1409ed8099275fca
[heroku]
	account = maedana@sonicgarden.jp
[core]
	excludesfile = /home/maedana/.gitignore
	editor = nvim
[ghq]
	root = /home/maedana/src
[secrets]
	providers = git secrets --aws-provider
	patterns = [A-Z0-9]{20}
	patterns = (\"|')?(AWS|aws|Aws)?_?(SECRET|secret|Secret)?_?(ACCESS|access|Access)?_?(KEY|key|Key)(\"|')?\\s*(:|=>|=)\\s*(\"|')?[A-Za-z0-9/\\+=]{40}(\"|')?
	patterns = (\"|')?(AWS|aws|Aws)?_?(ACCOUNT|account|Account)_?(ID|id|Id)?(\"|')?\\s*(:|=>|=)\\s*(\"|')?[0-9]{4}\\-?[0-9]{4}\\-?[0-9]{4}(\"|')?
	allowed = AKIAIOSFODNN7EXAMPLE
	allowed = wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
[init]
	templatedir = ~/.git-templates/git-secrets
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
