[user]
    name = maedana
    email = maeda.na@gmail.com
[color]
    diff = auto
    status = auto
    branch = auto

[alias]
    co = checkout
    st = status
    ci = commit -a
    di = diff
[github]
	user = maedana
	token = ed57720024f2df3b1409ed8099275fca
[heroku]
	account = maedana@sonicgarden.jp
